@model team2Geraldton.Models.ViewModels.ListPosts

@{
    ViewBag.Title = "List";
}

<h2>Recent Job Posts</h2>

<p>


   @if (Model.isadmin)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">

    @foreach (var item in Model.posts)
    {
    <tr>
        <td>
            <span class="staff">@Html.DisplayFor(modelItem => item.Title)</span>
            - @Html.DisplayFor(modelItem => item.Type)
        </td>
        @if (Model.isadmin)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.PostId })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PostId })
            </td>
            }


        <td>
            <button> @Html.ActionLink("Apply", "Create", "JobApplications")</button>
        </td>
    </tr>
    }

</table>
