@model team2Geraldton.Models.ViewModels.ShowDoctor

@{
    ViewBag.Title = "Details";
}

<h4>Doctor</h4>

<div>
    <nav class="editnav">
        <ul>
            <li>@Html.ActionLink("Back to List", "List")</li>
        </ul>

    </nav>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doctor.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.cpsoReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.cpsoReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.expertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.biography)
        </dt>

        <dd>
            @Html.Raw(Model.doctor.biography)
        </dd>

    </dl>
</div>