@model team2Geraldton.Models.ViewModels.ListDoctors

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="paginate">
    @{
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @ViewData["PageSummary"]
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>

<div class="record-container">
    @foreach (var doctor in Model.doctors)
    {
    <div class="record">

        <div class="recordtitle">
            @Html.ActionLink(doctor.fullName, "Details", new { id = doctor.doctorID })
        </div>

    </div>
    }
</div>