@model team2Geraldton.Models.View_Models.chooseDoctor

@{
    ViewBag.Title = "Details";
}
<h4>Appointment Details</h4>
<div>
<nav class="editnav">
    <ul>
        <li>@Html.ActionLink("Back to List", "List")</li>

        <li>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.appointment.bookId })</li>
        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.appointment.bookId})</li>
    </ul>
</nav>
</div>
<hr />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
               <th scope="col">@Html.DisplayNameFor( Model => Model.appointment )</th>
               <th scope="col">Department Name</th>
               <th scope="col">Book Reason</th> 
               <th scope="col">Book Date</th> 
               <th scope="col">Doctor Name</th>
               <th scope="col">Doctor Experties</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Html.DisplayNameFor(model=>model.appointment.bookId) </td>
                <td>  @Html.DisplayFor(model=> model.appointment.departName)</td>
                <td> @Html.DisplayNameFor(model => model.appointment.bookReason)</td>
                <td> @Html.DisplayFor(model => model.appointment.bookDate)</td>
                <td>  @Html.DisplayNameFor(model => model.doctor.fullName)</td>
                <td> @Html.DisplayNameFor(model => model.doctor.expertise)</td>
            </tr>
        </tbody>
    </table>
   
</div>