@model team2Geraldton.Models.View_Models.listAppointment
@{
    ViewBag.Title = "List";

}
<h2>Appointments</h2>
//Conditional rendering based on admin or non-admin
@Html.ActionLink("Create New", "Create")
<div class="record-container">
    @foreach (var appointmet in Model.appointments)
    {
        <div class="recordtitle">
            <table class="table table-striped">
                <caption>Appointments List</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Date</th>
                        <th scope="col">Depatment Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">@Html.DisplayFor(modelItem => appointmet.bookId)</th>
                        <td> @Html.DisplayFor(modelItem => appointmet.bookReason)</td>
                        <td> @Html.DisplayFor(modelItem => appointmet.bookDate)</td>
                        <td> @Html.DisplayFor(modelItem => appointmet.departName)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = appointmet.bookId }) |
                            @Html.ActionLink("Details", "Details", new { id = appointmet.bookId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = appointmet.bookId })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>
