@model team2Geraldton.Models.ViewModels.ListStaffs

@{
    ViewBag.Title = "List";
}

<h2>Hospital Staff Directory</h2>

<p>
   @if (Model.isadmin)
   {
        @Html.ActionLink("Create New", "Create")
   }
</p>
<div class="container">
    <div class="page-container">
        <div class="row">
            @foreach (var item in Model.staffs)
            {
                <div class="col-sm-4">
                    <h3>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </h3>
                    <div class="staff">
                        <span>Position:</span>
                        @Html.DisplayFor(modelItem => item.Position)

                    </div>
                    <div class="staff">
                        <i class="fas fa-envelope"></i>
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="staff">
                        <i class="fas fa-phone-alt"></i>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </div>
                    <br />

                    @if (Model.isadmin)
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.StaffId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.StaffId }) |
                            @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.StaffId })
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.ActionLink("Details", "Details", new { id = item.StaffId })
                        </p>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="paginate">
    @if (Model.staffs.Count() > 0)
    {
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @ViewData["PageSummary"]
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>
